h1 {
    color: rgb(77, 79, 83);
}

.cls{
    color: #968D92;
    font-size: 13px;
}

hr{
    border-color: blue;
}

a{
    color: black;
    text-decoration: none;
    
}

a:hover{
    color: blue;
    text-decoration: underline;
}